:root{
    --sidebar_width: 17%;
    --navigationbar_height: 66px;
    --move_icon: url(icons/move.png);
    --label: #264653;
    --links: #189ab4;
    --icons: #2a9d8f;
    --shadow: #f4a261;
    --error: #e76f51;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: title;
    src: url(fonts/Pacifico.ttf);
}

@keyframes grow {
    from{
        max-height: 0px;
    }
    to{
        max-height: 500px;
    }
}
@keyframes fold{
    from{
        max-height: 500px;
    }
    to{
        max-height: 0px;
    }
}

body{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: rgb(0, 132, 255);
}
a:hover{
    color: rgb(0, 106, 192);
}
.hidden{
    display: none;
}
.container{
    position: relative;
    box-sizing: border-box;
    background: #fff;
    height: 100vh;
}
.left-sidebar{
    position: absolute;
    left: 0;
    top: var(--navigationbar_height);
    width: var(--sidebar_width);
    height: calc(100% - var(--navigationbar_height));
}
.drawing-area{
    position: absolute;
    left: var(--sidebar_width);
    top: var(--navigationbar_height);
    width: calc(100% - 2*var(--sidebar_width));
    height: calc(100% - var(--navigationbar_height));  
}
.right-sidebar{
    position: absolute;
    right: 0;
    top: var(--navigationbar_height);
    width: var(--sidebar_width);
    height: calc(100% - var(--navigationbar_height));
}
.header{
    display: inline-flex;
    height: 50%;
}
.navigation .title h3{
    margin: 0;
    font-weight: normal;
    cursor: default;
    user-select: none;
    line-height: 1;
    font-size: 1.6em;
    font-family: title;
}
.navigation{
    padding: 5px 3px 3px 12px;
}
.navigation ul{
    display: flex;
    list-style: none;
    margin: 11px 0 0 0;
    padding: 0;
}
.navigation ul li{
    padding: 3px 5px 2px 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;
}
.navigation ul li:first-child{
    padding-left: 0;
}
.navigation ul li:hover{
    background: #eee;
}
.navigation ul li:hover::first-letter{
    text-decoration: underline;
}
.logo{
    width: 50px;
    height: 65px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.drop{
 user-select: none;
}
.drop .title{
    padding: 5px 4px 5px 5px;
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
    display: block;
    user-select: none;
    color: var(--label);
}
.drop .title::before{
    content: "";
    border-left: 9px solid var(--icons);
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    display: block;
    float: left;
    margin: 3px 5px 0 0;
    transition: .5s;
}
.drop .holder{
     overflow-y: scroll;
     padding: 0 2px 0 2px;
}
.drop .toggler:not(:checked)~.holder{
    animation-fill-mode: forwards;
    animation-name: fold;
    animation-duration: 0.2s;
}
.drop .toggler:checked~.holder{
    animation-name: grow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.drop .toggler:checked~.title::before{
    transform: rotate(90deg);
}

.shape-icon{
    height: 40px;
    width: 40px;
}
.holder .subholder{
    margin-top: 5px;
}


/*SVG tranform handles*/
@keyframes handleLineAnim{
    to{
        stroke-dashoffset: 0;
    }
    from{
        stroke-dashoffset:10.5;
    }
}
.selection-rect{
    fill: #213b791a;
    stroke: rgb(58, 137, 255);
    stroke-width: 1.5;
    stroke-linejoin: round;
    stroke-dasharray: 4;
}
.handle-lines{
fill: none;
stroke: #000;
stroke-dasharray: 5;
stroke-linecap: round;
stroke-width: 0.7;
animation-name: handleLineAnim;
animation-duration: .2s;
animation-iteration-count: infinite;
}
.handle-circle{
    fill: rgb(95, 95, 245);
}
.handle-circle:hover,.handle-circle-hover{
    fill: blue;
    r:7px;
}
.shape{
    cursor: var(--move_icon) 14 14,auto;
}

.drag-selector{
    pointer-events: none;
}
.drawing-area{
    overflow: scroll;
}
.drawing-area #canvas{
    background:
    linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px), linear-gradient(transparent 3px, #fff 3px, #fff 78px, transparent 78px), linear-gradient(-90deg, #aaa 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, #fff 3px, #fff 78px, transparent 78px), linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
    background-size: 10px 10px, 10px 10px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

.button-type-1{
    width: 30%;
    padding: 0 15px 0 15px;
    background: #fff;
    border-radius: 11px;
    margin-right: 8px;
    height: 27px;
    transition: .2s;
}

.button-type-1:hover{
    background: #fff;
    box-shadow: 0 0 14px rgb(212, 212, 212);
}

.property-box div{
    width: 92%;
}
.property-box .property-field{
    padding: 3px 5px 2px 3px;
    display: flex;
    flex-wrap: nowrap;
    background: #fff;
    border-bottom: 1px solid #eee;
    color: var(--label);
    text-transform: uppercase;
}
.property-box div .property-title{
    width: 60%;
    line-break: anywhere;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}
.property-box div .property-value{
    width: 40%;
    height: 24px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 3px var(--shadow);
    font-size: 1em;
}